@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin: 0px;
    min-height: 100vh;  
    background-image: url("Images/typographic-background.png"); 
    Font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    text-align: center; 
    align-items: center;
    justify-content: center; 
    Display: flex;
}
.quote-container {
    width: auto;  
    max-width: 900px;
    padding: 50px 50px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow:10px 10px 10px 10px rgba(0, 0, 0, 0.8);
    border: 5px solid #f8f8f8;
    color: #ffffff;
}
.quote-text {
    font-size: 2.75rem;
    margin-bottom: 20px;
    font-family: 'montserrat', sans-serif;
}

.long-quote {
    font-size: 2.25rem;
}

.fa-quote-left {
    font-size: 4rem;
}
.fa-quote-right {
    font-size: 4rem;
}

.quote-author {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'montserrat';
    margin-top: 20px; 
    font-weight: 400;   
}

#quote {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'bodoni moda', serif;
    background-color: #F04B22;
    color: #fbfbfb;
    margin: 1rem;
    text-align: center;
    FONT-WEIGHT: 400;
    font-style: italic;
    text-decoration: underline;
}

/* Media Queries: tablet or mobile */
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }
    .quote-text {
        font-size: 2rem;
    }
    .long-quote {
        font-size: 1.75rem;
    }
    .quote-author {
        font-size: 1.5rem;
    }
}

