@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');
html {
    box-sizing: border-box;
}
body {
    margin: 0;
    margin: 0px;
    min-height: 100vh;
    min-width: 100vw;  
    background-image: url("Images/typographic-background.png"); 
    Font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    text-align: center; 
    align-items: center;
    justify-content: center; 
    Display: flex;
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
}
.quote-container {
    width: auto;  
    max-width: 900px;
    padding: 50px 50px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow:10px 10px 10px 10px rgba(0, 0, 0, 0.8);
    border: 5px solid #f8f8f8;
    color: #ffffff;
}
.quote-text {
    font-size: 2.75rem;
    font-family: 'montserrat', sans-serif;
}
#quote.long-quote {
    font-size: 2rem;
}
.fa-quote-left {
    font-size: 4rem;
}
.fa-quote-right {
    font-size: 4rem;
}
.quote-author {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'montserrat';
    margin-top: 20px; 
    font-weight: 400;   
}
#quote {
    font-size: 2.5rem;
    font-family: 'bodoni moda', serif;
    color: #fbfbfb;
    text-align: justify;
    FONT-WEIGHT: 400;
    font-style: italic;
    border: 1px solid #ffffff;
    padding: 1rem;
    border-radius: 1rem; 
}
.button-container {
    display: flex;
    justify-content: space-between;
    background-color: #F04B22;
    padding: 2rem;
    border-radius: 2rem;
}
button {
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.8);
    border: 1px solid #000000;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
}
button:hover {
    background-color: #F04B22;
    color: #ffffff;
    box-shadow: 0px 0px 5px 2px rgba(240, 75, 34, 0.8);
    filter: brightness(110%);
}
button:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 5px 2px rgba(240, 75, 34, 0.8);
}
.back-button {
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.8);
    border: 1px solid #000000;
    text-decoration: none;
    font-weight: 700;
}
.back-button:hover {
    background-color: #F04B22;
    color: #ffffff;
    box-shadow: 0px 0px 5px 2px rgba(240, 75, 34, 0.8);
    filter: brightness(110%);
}

/* Loader */
.loader {
  border: 16px solid #000000; 
  border-top: 16px solid #F04B22; 
  border-radius: 50%; 
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; 
} 

.home {
    position: fixed;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 128px;
    height: 128px;
    animation: spin 5s linear infinite;
    background-image: url("Images/128x128favicon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 0.2rem #fbfbfb;
    border-radius: 5rem;
}
.home:hoover{
    background-color: #F04B22;
    color: #ffffff;
    box-shadow: 0px 0px 5px 2px rgba(240, 75, 34, 0.8);
    filter: brightness(110%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 700px) {
    .home {
    position: fixed;
    top: 3%;
    left: 44%;
    width: 128px;
    height: 128px;
    animation: spin 5s linear infinite;
    background-image: url("Images/128x128favicon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 0.2rem #fbfbfb;
    border-radius: 5rem;
    }
    .quote-container { 
        width: 100vw;
    }
    .quote-text {
        font-size: 2rem;    
    }
    .quote-author {
        font-size: 1.5rem;
    }
    #quote {
        font-size: 2rem;
        padding: 0.5rem;  
        text-align: justify;
        text-align: center;   
    }
    button {
        font-size: 0.5rem;
    }
    .back-button {
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }
    .button-container {
        padding: 1rem;
        border-radius: 0.5rem;
    }
    #quote.long-quote {
    font-size: 2rem;
    }
    .threads-button{
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }
    .twitter-button{
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }
    .new-quote{
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 900px){
    .home {
    position: fixed;
    left: 46%;
    width: 128px;
    height: 128px;
    animation: spin 5s linear infinite;
    background-image: url("Images/128x128favicon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 0.2rem #fbfbfb;
    border-radius: 5rem;
    }
} 
@media screen and (min-width: 2000px){
    .home {
    position: fixed;
    left: 46%;
    width: 256px;
    height: 256px;
    animation: spin 5s linear infinite;
    background-image: url("Images/256x256favicon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 0.2rem #fbfbfb;
    border-radius: 15rem;
    }
} 

/* Media Queries: tablet or mobile */
@media screen and (max-width: 699px) {
    .home {
    position: fixed;
    top: 3%;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    animation: spin 5s linear infinite;
    background-image: url("Images/64x64favicon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 0.2rem #fbfbfb;
    border-radius: 5rem;
    }
    .quote-text {
        font-size: 1rem;    
    }
    .long-quote {
        font-size: 1rem;
    }
    .quote-author {
        font-size: 1.5rem;
    }
    #quote {
        font-size: 1rem;
        padding: 0.5rem 4rem;  
        text-align: justify;
        text-align: center;   
    }
    button {
        font-size: 0.5rem;
        padding: 0.5rem 0.5rem;
        margin: 0 0.2rem;
    }
    .back-button {
        font-size: 0.5rem;
        padding: 0.5rem 0.5rem;
    }
    .button-container {
        border-radius: 0;
        border: 0.2rem solid #f8f8f8;
    }
    #quote.long-quote {
    font-size: 1rem;
}
}




